/* all general selectors are here at the top */

body {
	background-color: #E4DED0;
	font-family: 'Roboto', sans-serif;
	color: #181619;
}

/* class and id selectors go here 
this is mostly to help with positioning */

.jumbotron {
	background-color: #E4DED0;
}

.header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 98%;
	height: 200px;
	font-family: 'Kranky', cursive;
	color: #E32F21;
	border: 3px #181619 solid;
	padding-top: 1%;
    padding-bottom: 7%;
    padding-left: 5%;
    text-transform: lowercase;
    border-radius: 10px;
    background-color: #ABCCBD;
}

/* extra notes go here */