/* all general selectors are here at the top */

body {
	background-color: #E4DED0;
	font-family: 'Roboto', sans-serif;
	color: #181619;
}

/* class and id selectors go here 
this is mostly to help with positioning */

.jumbotron {
	background-color: #E4DED0;
}

.header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 98%;
	height: 25%;
	min-height: 50px;
	font-family: 'Kranky', cursive;
	font-size: 200%;
	color: #E32F21;
	border: 3px #181619 solid;
	padding-top: 1%;
    padding-bottom: 7%;
    padding-left: 5%;
    text-transform: lowercase;
    border-radius: 10px;
    background-color: #ABCCBD;
    background: #ABCCBD; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ABCCBD, #7DBEB8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ABCCBD, #7DBEB8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ABCCBD, #7DBEB8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ABCCBD, #7DBEB8); /* Standard syntax */
    z-index: 2;
}

.top{
	position: absolute;
	top: 220px;
}

.categorySearch{
	position: absolute;
	top: 250px;
	padding-left: 5%;
}

.categoryLinks{
	position: absolute;
	top: 500px;
	padding-left: 5%;
}

/* extra notes go here */